In [31]:
import pandas as pd

In [46]:
data_json = """{"url": "https://0", "user": "<user 'chrome' 0>", "serveur": "ppe-0", "val": "aut-0", "arg": {}, "statut": 200,"date":1658244717, "remote": "remote-0", "exist": true, "ipinfo": null, "location": "City-0"}  
{"url": "https://1", "user": "<user 'chrome' 1>", "serveur": "ppe-1", "val": "aut-1", "arg": {"param1": 1, "param2": 2}, "statut": 201,"date":1658244719, "remote": "remote-1", "exist": false, "ipinfo":  "192.168.1.1", "location": "City-1"}  
 {"url": "https://2", "user": "<user 'chrome' 2>", "serveur": "ppe-2", "val": "aut-2", "arg": {"param1": 2, "param2": 4}, "statut": 202,"date":1658244730, "remote": "", "exist": true, "ipinfo": "192.168.1.2", "location": "City-2"}"""

In [45]:
data_json = """{"url": "https://1", "user": "<user 'chrome' 1>", "serveur": "ppe-1", "val": "aut-1", "arg": {"param1": 1, "param2": 2}, "statut": 201,"date":1658244719, "remote": "remote-1", "exist": false, "ipinfo":  "192.168.1.1", "location": "City-1"}  
 {"url": "https://2", "user": "<user 'chrome' 2>", "serveur": "ppe-2", "val": "aut-2", "arg": {"param1": 2, "param2": 4}, "statut": 202,"date":1658244730, "remote": "", "exist": true, "ipinfo": "192.168.1.2", "location": "City-2"}"""

In [47]:
data_json

'{"url": "https://0", "user": "<user \'chrome\' 0>", "serveur": "ppe-0", "val": "aut-0", "arg": {}, "statut": 200,"date":1658244717, "remote": "remote-0", "exist": true, "ipinfo": null, "location": "City-0"}  \n{"url": "https://1", "user": "<user \'chrome\' 1>", "serveur": "ppe-1", "val": "aut-1", "arg": {"param1": 1, "param2": 2}, "statut": 201,"date":1658244719, "remote": "remote-1", "exist": false, "ipinfo":  "192.168.1.1", "location": "City-1"}  \n {"url": "https://2", "user": "<user \'chrome\' 2>", "serveur": "ppe-2", "val": "aut-2", "arg": {"param1": 2, "param2": 4}, "statut": 202,"date":1658244730, "remote": "", "exist": true, "ipinfo": "192.168.1.2", "location": "City-2"}'

In [48]:
import json

In [49]:
data = data_json.split('\n')

In [50]:
data

['{"url": "https://0", "user": "<user \'chrome\' 0>", "serveur": "ppe-0", "val": "aut-0", "arg": {}, "statut": 200,"date":1658244717, "remote": "remote-0", "exist": true, "ipinfo": null, "location": "City-0"}  ',
 '{"url": "https://1", "user": "<user \'chrome\' 1>", "serveur": "ppe-1", "val": "aut-1", "arg": {"param1": 1, "param2": 2}, "statut": 201,"date":1658244719, "remote": "remote-1", "exist": false, "ipinfo":  "192.168.1.1", "location": "City-1"}  ',
 ' {"url": "https://2", "user": "<user \'chrome\' 2>", "serveur": "ppe-2", "val": "aut-2", "arg": {"param1": 2, "param2": 4}, "statut": 202,"date":1658244730, "remote": "", "exist": true, "ipinfo": "192.168.1.2", "location": "City-2"}']

In [51]:
from datetime import datetime
 
#dt_obj = datetime.fromtimestamp()

# Initialisation du dataframe

In [54]:
df1 = pd.DataFrame(columns = ['url', 'user', 'serveur','val', 'param1', 'param2', 'statut', 'date', 'remote', 'exist', 'ipinfo', 'location' ])

In [55]:
for row in data:
    lines = json.loads(row)
    url = lines['url']
    user = lines['user']
    serveur = lines['serveur']
    val = lines['val']
    try:
        arg =  dict(lines['arg'])
        param1 = arg['param1']
        param2 = arg['param2']
    except KeyError:
        param1 = ""
        param2 = ""
    statut = lines['statut']
    date_ =  datetime.fromtimestamp(lines['date'])
    remote = lines['remote'] 
    exist = lines['exist']
    ipinfo = lines['ipinfo']
    location = lines['location']
    lines_json = {'url':url, 'user':user, 'serveur':serveur, 'val':val, 'param1':param1, \
                  'param2':param2, 'statut':statut, 'date':date_, 'remote':remote, 'exist':exist,\
                  'ipinfo':ipinfo, 'location':location}
    df1 = df1.append(lines_json, ignore_index = True)

/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1394283067.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(lines_json, ignore_index = True)
/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1394283067.py:23: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = df.append(lines_json, ignore_index = True)
/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1394283067.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(lines_json, ignore_index = True)
/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1394283067.py:23: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = df.append(lines_json, ignore_index = True)
/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1394283067.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(lines_json, ignore_index = True)
/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1394283067.py:23: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = df.append(lines_json, ignore_index = True)

In [56]:
dfdf1

,url,user,serveur,val,arg,statut,date,remote,exist,ipinfo,location,param1,param2
0,https://0,<user 'chrome' 0>,ppe-0,aut-0,{},200,1658244717,remote-0,True,None,City-0,NaN,NaN
1,https://1,<user 'chrome' 1>,ppe-1,aut-1,"{'param1': 1, 'param2': 2}",201,1658244719,remote-1,False,192.168.1.1,City-1,NaN,NaN
2,https://2,<user 'chrome' 2>,ppe-2,aut-2,"{'param1': 2, 'param2': 4}",202,1658244730,,True,192.168.1.2,City-2,NaN,NaN
3,https://0,<user 'chrome' 0>,ppe-0,aut-0,NaN,200,2022-07-19 15:31:57,remote-0,True,None,City-0,,
4,https://1,<user 'chrome' 1>,ppe-1,aut-1,NaN,201,2022-07-19 15:31:59,remote-1,False,192.168.1.1,City-1,1,2
5,https://2,<user 'chrome' 2>,ppe-2,aut-2,NaN,202,2022-07-19 15:32:10,,True,192.168.1.2,City-2,2,4

# Directement avec Pandas

In [32]:
df = pd.DataFrame(columns = ['url', 'user', 'serveur','val', 'arg', 'statut', 'date', 'remote', 'exist', 'ipinfo', 'location' ])
print(df)

Empty DataFrame
Columns: [url, user, serveur, val, arg, statut, date, remote, exist, ipinfo, location]
Index: []

In [33]:
for row in data:
    lines = json.loads(row)
    df = df.append(lines, 
                ignore_index = True)

/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1631123808.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(lines,
/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1631123808.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(lines,
/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1631123808.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = df.append(lines,
/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1631123808.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(lines,
/var/folders/18/sbx_5ksj2qd626pf1wdsq2vh0000gn/T/ipykernel_39966/1631123808.py:3: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df = df.append(lines,

In [34]:
df

,url,user,serveur,val,arg,statut,date,remote,exist,ipinfo,location
0,https://0,<user 'chrome' 0>,ppe-0,aut-0,{},200,1658244717,remote-0,True,None,City-0
1,https://1,<user 'chrome' 1>,ppe-1,aut-1,"{'param1': 1, 'param2': 2}",201,1658244719,remote-1,False,192.168.1.1,City-1
2,https://2,<user 'chrome' 2>,ppe-2,aut-2,"{'param1': 2, 'param2': 4}",202,1658244730,,True,192.168.1.2,City-2